<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoFinal.My.MySettings.conexion" connectionString="Data Source=ALBERTONIETCC55\SQLEXPRESS;Initial Catalog=sociedadGastronomica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoFinal.My.MySettings.conLander" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\sociedadGastronomica.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>